- @page_title = t('helpers.titles.edit', { model: UserPointLog.model_name.human })

.panel.panel-default
  .panel-heading= t('.current_point')
  .panel-body
    %div.col-sm-2
      %b= User.human_attribute_name(:point)
    %div.col-sm-10
      = number_to_human(@user.point, units: 'number.human.point_units.units')

= render 'form'

