= simple_form_for [:provide, @item], html: { class: 'form-horizontal', multipart: true } do |f|
  - if notification = f.error_notification
    = notification

  = f.input :add_stock_num, as: :integer

  .form-actions
    = f.button :submit, class: 'btn-primary'
