- if !user_signed_in? or current_user.voted_as_when_voted_for diary
  %i.glyphicon.glyphicon-thumbs-up
  = t('.good_button')
- else
  = link_to good_diary_path(diary), remote: true do
    %i.glyphicon.glyphicon-thumbs-up
    = t('.good_button')
%span.size= t('.size', size: diary.likes.size)
