- @page_title = t('helpers.titles.show', { model: ProvideUser.model_name.human })

%div.show
  %div.row
    %div.col-sm-2
      %b= ProvideUser.human_attribute_name(:email)
    %div.col-sm-10
      = @provide_user.email
  %div.row
    %div.col-sm-2
      %b= ProvideUser.human_attribute_name(:provider_name)
    %div.col-sm-10
      = @provide_user.provider_name

