// Place all the styles related to the diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.diary_list {
    .diary_title {
        background-color: #dcdcdc;
        border: 1px solid #3e312b;
    }
    .diary_contents {
        border: 1px solid #3e312b;
    }
    .diary_image {
        border: 1px solid #3e312b;
    }
    .diary_actions {
        border: 1px solid #3e312b;
    }
}
